<p id="notice"><%= notice %></p>

<h1>Convert Text to Speech</h1>

<div class="container">
  <%= form_tag("/convert_to_speech", method: :post) do %>
    <%= label_tag(:pubId, "Enter PubID:") %>
    <%= text_area_tag 'text', '', rows: 5, cols: 50 %>
    <%#= text_field_tag(:pubId) %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>



<br>
