<p id="notice"><%= notice %></p>

<h1>Apis</h1>
<!--
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td><%= link_to 'Show', api %></td>
        <td><%= link_to 'Edit', edit_api_path(api) %></td>
        <td><%= link_to 'Destroy', api, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->




<div class="container">
  <form action="/process_api">
    <label for="PubIB">PubID:</label>

    <input type="text" id="PubIB" name="PubIB" placeholder="ex: 123456">
    <input type="submit" value="Submit">
  </form>



  <%= form_tag("/process_api", method: "get") do %>
    <%= label_tag(:pubId, "Enter PubID:") %>
    <%= text_field_tag(:pubId) %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>

<br>
<!--
<%= link_to 'New Api', new_api_path %>
-->
